In [1]:
name = "Ahmed"
age = 10
x = 10.5

In [2]:
print(name)

Ahmed

In [3]:
type(age)

int

In [4]:
type(x)

float

In [5]:
input()

10

'10'

In [9]:
in_ = input("inter data: ")

inter data: 10

In [10]:
in_

'10'

In [11]:
type(in_)

str

In [14]:
x = "10"
y = int(x)
type(y)

int

In [15]:
x = 10 
y = str(x)
type(y)

str

In [16]:
y

'10'

In [17]:
x = 3 
y = 4 
z = 5

In [18]:
lst = [2,3,4,5,6]
lst

[2, 3, 4, 5, 6]

In [19]:
lst[3]

5

In [20]:
names = ["ahmed",'mohmmed',"Ziad","Ali"]

In [24]:
names.append("Osama")

In [25]:
names

['ahmed', 'mohmmed', 'Ziad', 'Ali', 'Osama']

In [27]:
len(names)

5

In [28]:
dec = {
    "one":1,
    "second":2,  
}

In [30]:
dec["second"]

2

In [31]:
data = {
    "name": "Ziad",
    "phone": "01098"
}

In [32]:
data["phone"]

'01098'

In [34]:
x = 3 
if x > 5 :
    print(x) 
else:
    print("invalid data")

invalid data

In [36]:
x = input("enter num: ")
x = int(x)
if x > 85 : 
    print("exclent")
elif x > 75 : 
    print("verry good")
elif x > 65 : 
    print("good")
else : 
    print("low grade")

enter num: 70
good

In [39]:
x = 90 
if x > 65 and x < 75 : 
    print("good ")

In [41]:
name = "ahmed"
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [42]:
lst = [1,2,3,4,5,6,7,8,9]
for i in range(0,len(lst)):
    print(lst[i])

1
2
3
4
5
6
7
8
9

In [46]:
lst = [4,2,3,4,5,6,7,8,9]

for i in range(0,len(lst)):
    new_i = lst[i]
    new = new_i - 3 
    new_lst.append(new)

In [44]:
new_lst

[-2, -1, 0, 1, 2, 3, 4, 5, 6]

In [48]:
new_lst = []
for i in lst:
    new = i - 3 
    new_lst.append(new)

In [49]:
new_lst

[1, -1, 0, 1, 2, 3, 4, 5, 6]

In [51]:
print("1")
print("2")
print("3")

1
3

In [55]:
def add():
    x = 3 
    y = 2
    print(x + y)

In [53]:
print(1+2)

3

In [56]:
add()

5

In [57]:
print()

In [72]:
def add(num_1,num_2):
    sum = num_1 + num_2
    print(sum)

In [62]:
add(3,4)

7

In [63]:
num_1 = int(input("enter num_1 : "))
num_2 = int(input("enter num_2 : "))
add(num_1,num_2)

enter num_1 : 3
enter num_2 : 2
5

In [71]:
type(add(2,3))

NoneType

In [73]:

add(3,4)

7

In [86]:
def add(num_1,num_2):
    sum_ = num_1 + num_2
    return sum_

In [88]:
x = add(2,3)
x

5

In [78]:
x = "10"
y = int(x)

In [79]:
y

10

In [89]:
def add(num_1,num_2):
    sum_ = num_1 + num_2
    return sum_

In [90]:
x = add(5)
x

TypeError: add() missing 1 required positional argument: 'num_2'

In [92]:
def add(num_1,num_2 = 0):
    sum_ = num_1 + num_2
    return sum_

In [94]:
x = add(5,2)
x

7

In [108]:
def add(*args):
    sum_ = 0
    for i in args: 
        sum_ = sum_+ i
    return sum_

In [110]:
add(1,2,3,4,5,3,4,5,6,3,3,4)

43

In [111]:

def add_num(lst):
    sum_ =  0 
    for i in lst: 
        sum_ = sum_ + i 
    return sum_

In [112]:
add_num([1,2,3,4,5,6])

21

In [114]:
# sys 
# ui input 
# math oprations or age 
# ______________________

In [1]:
def math_add(args):
    sum_ = 0
    for i in args: 
        sum_ = sum_+ i
    return sum_    

def math_sub(args):
    sub =0
    for i in args: 
        sub = sub- i
    return sub

def math_mul(args):
    mul = 1
    for i in args: 
        mul = mul * i
    return mul

def math_devide(args):
    devide = 1
    for i in args: 
        devide = devide / i
    return devide

def count_age(year):
    age = 2023 - year
    return age

In [2]:
def UI_fun():
    selection = int(input("for math opration [1], for count age [2]"))
    if selection == 1 :
        math_selection = input("enter math opration [+,-,*,/]")
        if math_selection == "+":
            nums = int(input("nums numpers: "))
            nums_lst = []
            for i in range(0,nums):
                in_ = int(input("enter num: "))
                nums_lst.append(in_)
            sum_ = math_add(nums_lst)
            print(sum_)
            UI_fun()
        elif math_selection == "-":
            nums = int(input("nums numpers: "))
            nums_lst = []
            for i in range(0,nums):
                in_ = int(input("enter num: "))
                nums_lst.append(in_)
            sub = math_sub(nums_lst)
            print(sub)
            UI_fun()
        elif math_selection == "*":
            nums = int(input("nums numpers: "))
            nums_lst = []
            for i in range(0,nums):
                in_ = int(input("enter num: "))
                nums_lst.append(in_)
            sub = math_mul(nums_lst)
            print(sub)
            UI_fun()
        elif math_selection == "/":
            nums = int(input("nums numpers: "))
            nums_lst = []
            for i in range(0,nums):
                in_ = int(input("enter num: "))
                nums_lst.append(in_)
            sub = math_devide(nums_lst)
            print(sub)
            UI_fun()
    elif selection == 2 : 
        year = int(input("enter your perth year: "))
        age = count_age(year)
        print(age)
        UI_fun()
    else: 
        print("invalid selectioin")
        UI_fun()

In [ ]:
UI_fun()

for math opration [1], for count age [2]1
enter math opration [+,-,*,/]*
nums numpers: 3
enter num: 5
enter num: 6
enter num: 8
240

'(1, 2, 3, 4)'

In [121]:
x = tuple(y)

In [122]:
x

('(', '1', ',', ' ', '2', ',', ' ', '3', ',', ' ', '4', ')')

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

labels = ["US", "China", "European Union", "Russian Federation", "Brazil", "India",
          "Rest of World"]

# Create subplots: use 'domain' type for Pie subplot
fig = make_subplots(rows=1, cols=2, specs=[[{'type':'domain'}, {'type':'domain'}]])
fig.add_trace(go.Pie(labels=labels, values=[16, 15, 12, 6, 5, 4, 42], name="GHG Emissions"),
              1, 1)
fig.add_trace(go.Pie(labels=labels, values=[27, 11, 25, 8, 1, 3, 25], name="CO2 Emissions"),
              1, 2)

# Use `hole` to create a donut-like pie chart
fig.update_traces(hole=.4, hoverinfo="label+percent+name")

fig.update_layout(
    title_text="Global Emissions 1990-2011",
    # Add annotations in the center of the donut pies.
    annotations=[dict(text='GHG', x=0.18, y=0.5, font_size=20, showarrow=False),
                 dict(text='CO2', x=0.82, y=0.5, font_size=20, showarrow=False)])
fig.show()